* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial , sans-serif;
}

body {
    background-color: rgb(209, 214, 219);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.container {
    background-color: white;
    padding: 40px;
    width: 480px;
    height: 100%;
    margin: 0 auto;
}


input{
    margin-bottom: 30px;
}

label {
    font-size: 12px;
    margin-bottom: 3px;
    color: #333;
    display: block;
    font-weight: 500;
}

input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0 28px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

small {
    color: #666;
    display: block;
    margin-top: -25px;
    margin-bottom: 15px;
    font-size: 12px;
}

.input-style {
    position: relative;
}

.input-style.error-exclamation input {
    border-color: red;
}

.error-icon {
    position: absolute;
    right: 12px;
    top: 40%;
    transform: translateY(-50%);
    font-size: 16px;
    width: 25px;
    height: 25px;
    fill: red;
}

.message-style {
    color: red;
    font-size: 12px;
    margin-bottom: 20px;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 12px;
    transform: scale(1.2);
}

.off-box{
    position: relative;
    font-size: 12px;
    font-weight:400;
    display: flex;
    align-items: center;
   margin-bottom: 30px;
  }

.off-box-1{
    position: absolute;
    width: 34px;
    height: 20px;
    margin-right: 8px;
}
.check-style{
    width: 40px;
    padding-left: 10px;
}
    
    .off input {
    opacity: 0;
    width: 0;
    height: 0;
    }
    
    .off-box-2 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0px;
    bottom: 0;
    background-color: rgb(238, 226, 226);
    border: 2px;
    transition: 0.4s;
    border-radius: 34px;
    }
    .off-style{
        margin-left: 50px;
        font-size: 20px;
    }
    .off-box-2:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 15px;
    left: 15px;
    bottom: 4px;
    background-color: rgb(247, 243, 243);
    transition: 0.4s;
    border-radius: 50%;
    }
select {
    padding: 12px;
    border: 1px solid #888;
    position: relative;
}
.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.cancel-style,
.submit-style {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-style {
    background-color: white;
    color: #7a5cfa;
    border: 1px solid #7a5cfa;
}

.submit-style {
    background-color: rgb(120, 120, 219);
    color: white;
}

.submit-style:hover {
    background-color: rgb(56, 56, 212);
}
@media only screen and (max-width: 768px){
    .container{
        margin: 5% 10%;
        width: auto;
    }
    form{
        margin: 5% 10%;
        width: auto;
    }
}